<!-- Author list -->
<% if (authorList.length > 0) { %>
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Author</th>
              <th>Life Span</th>

          </tr>
      </thead>
      <tbody>
          <% authorList.forEach(author => { %>
              <tr>
                 <td>
                    <a href="<%= author.url %>"><%= author.name %></a>
                    - <%= author.date_of_birth_formatted %> - <%= author.date_of_death_formatted %>
                 </td>
                 <td>
                    <%= author.lifespan %>  %>
                 </td>
              </tr>
          <% }); %>
  </table>
<% } else { %>
  <p>No authors.</p>
<% } %>