<h1>Hello <%= title %></h1>
<p>Welcome to the home page of our site.</p>

<h2>Dynamic content</h2>

<p> The library has the following record counts:</p>

<ul>
    <li><b>Books:</b> <%= data.bookCount %></li>
    <li><b>Copies:</b> <%= data.bookInstanceCount %></li>
    <li><b>Copies available:</b> <%= data.bookInstanceAvailableCount %></li>
    <li><b>Authors:</b> <%= data.authorCount %></li>
    <li><b>Genres:</b> <%= data.genreCount %></li>
</ul>